@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
.box {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Balsamiq Sans", cursive;
}
h3 {
  text-decoration: none;
}
.img {
  width: 130px;
  margin-right: 10px;
}
ul {
  padding-right: 10px;
}
